XTerm*saveLines: 4096
xterm*faceName: Iosevka Term:size=13:antialias=true

xterm*termName: xterm-256color
xterm*scaleHeight: 1.0
xterm*geometry: 64x24
xterm*internalBorder: 55
xterm*borderWidth: 0 

xterm*utf8: true
xterm*scrollBar: false
xterm*cursorBlink: false
xterm*selectToClipboard: true
xterm*trimSelection: true
xterm*renderFont: true
xterm*wideChars: true
xterm*visualBell: false

xterm*translations: #override \n\
    Shift Ctrl <KeyPress> v:insert-selection(CLIPBOARD) \n\
    Shift Ctrl <KeyPress> c:select-set(CLIPBOARD)
    
! URxvt stuff

URxvt.font: xft:Julia Mono:size=12:antialias=true
URxvt.scrollBar: false
URxvt.internalBorder: 55
URxvt.geometry: 72x24
URxvt.utf8: true
URxvt.wideChars: true
URxvt.print-pipe: "cat > /dev/null"
URxvt.saveline: 2048
URxvt.urgentOnBell: false
URxvt.depth: 24
URxvt.iso14755: false
URxvt.termName: xterm-256color
URxvt.cursorBlink: false
URxvt.cursorUnderline: true
URxvt.borderColor: #f9f9f9

! colorscheme from jcs
#define BG			#f9f9f9
#define FG			#444444
*.background:			BG
*.foreground:			FG

*.borderColor:			BG

! black
*.color0:			FG
*.color8:			#333333

! red
*.color1:			#dc322f
*.color9:			#cb4b16

! green
*.color2:			#859900
*.color10:			#93a1a1

! yellow
*.color3:			#b58900
*.color11:			#839496

! blue
*.color4:			#268bd2
*.color12:			#657b83

! magenta
*.color5:			#d33682
*.color13:			#6c71c4

! cyan
*.color6:			#2aa198
*.color14:			#586e75

! white (gray)
*.color7:			#d9d7cc
*.color15:			#f9f9f9

! vim: ft=xdefaults
!
